path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear 1;
  animation-fill-mode: forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

iframe {
  background-color: #211831
}

#s1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

#btn-next {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
}